.apartment-card {
   display: flex;
   flex-direction: column;
   max-width: 554px;
   width: 100%;
   margin: 0 auto;
   margin-bottom: 40px;

   &:hover {
      box-shadow: $cardBoxShadow;
   }

   & img {
      width: 100%;
      object-fit: cover;
   }

   &__content {
      width: 100%;
      padding: 23px 28px 0;
      border: $border1;
      border-top: 0px;
   }

   & h3 {
      margin-bottom: 11px;
      font-weight: 800;
   }

   &__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 17px;
      margin-bottom: 26px;
   }

   &__column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 13px;
   }

   &__column-square {
      padding-top: 20px;
   }
}