.order-call-button {
   position: relative;
   padding: 15px 0 18px;
   max-width: 272px;
   background: transparent;
   font-size: 1rem;
   font-weight: 600;
   transition: $standartTrans;

   &::before,
   &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: $mainRadius;
      border: 1px solid $blue;
      z-index: 0;
      transition: $standartTrans;
   }

   &::after {
      opacity: 0;
      border: 1px solid $black;
      transform: translateY(-5px) translateX(5px);
   }

   &:hover::after {
      opacity: 1;
      transform: translateY(0px) translateX(0px);
   }

   &:hover,
   &:focus {
      color: $blue;
      box-shadow: $btnBoxShadow;
   }
}

.order-call-button-footer {
   position: relative;
   width: 272px;
   padding: 15px 0 18px;
   font-family: 'Geometria';
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
   background: $white;
   color: $black;
   border-radius: 5px;
   transition: $standartTrans;

   &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: $mainRadius;
      border: 1px solid transparent;
      z-index: 0;
      transition: $standartTrans;
   }

   &::after {
      opacity: 0;
      border: 1px solid $black;
      transform: translateY(-15px) translateX(15px);
   }

   &:hover::after {
      opacity: 1;
      transform: translateY(0px) translateX(0px);
   }

   &:hover {
      color: $blue;
      font-weight: 500;
      box-shadow: 0px 5px 12px 2px rgb(0 0 0 / 41%);
   }

   &:focus,
   &:active {
      color: $blue;
      border-color: $blue;
      box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 43%) inset;
   }
}

.primary-button {
   height: 70px;
   max-width: 360px;
   font-size: 20px;
   color: $white;
   background: $blue;
   border-radius: $mainRadius;
   transition: $standartTrans;

   &:hover,
   &:focus {
      color: $black;
      box-shadow: $btnBoxShadow;
      border-radius: $secondaryRadius;
   }

   &.small {
      width: 270px;
      height: 60px;
      padding: 11px 0 13px;
      line-height: 30px;
   }

   &:focus,
   &:active {
      color: $white;
      border-color: $blue;
      box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 43%) inset;
   }
}

.next-btn,
.prev-btn {
   position: relative;
   font-size: 16px;
   line-height: 1.2;
   padding: 12px 17px;
   color: $blue;
   background: transparent;

   &:focus,
   &:hover {
      color: $darkBlue;
   }
}

.next-btn {
   margin-right: 19px;
}

.prev-btn::before,
.next-btn::after {
   content: '';
   position: absolute;
   top: 15px;
   height: 14px;
   width: 22px;

}

.next-btn::after {
   right: -20px;
   background: url(../images/icon/blue-arrow.svg);
}

.prev-btn::before {
   left: -22px;
   background: url(../images/icon/blue-arrow.svg);
   transform: rotate(180deg);
}

.popup__btn-close {
   position: relative;
   width: 20px;
   height: 20px;
   background: $white;

   &::before,
   &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      background: $red;
      top: 50%;
      left: 0;
   }

   &::before {
      transform: rotate(45deg);
   }

   &::after {
      transform: rotate(135deg);
   }
}

.appartment-button {
   max-width: $maxWidth;
   width: 100%;
   height: 60px;
   font-size: 18px;
   line-height: 27px;
   font-weight: 500;
   color: $black;

   &:hover {
      background: $blue;
      color: $white;
      animation: gradient 1s ease-out;
   }

   &__primary-btn {
      position: relative;
      background: $gray50;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;

      &:hover {
         box-shadow: $cardBoxShadow;
      }

      &::after {
         position: absolute;
         content: '';
         width: 9px;
         height: 9px;
         border-top: $border1black;
         border-right: $border1black;
         transform: translate(10px, 8px) rotate(135deg);
         transition: $standartTrans;
      }

      &:hover::after {
         border-top: 2px solid $white;
         border-right: 2px solid $white;
      }

      &:active::after {
         border-top: $border2white;
         border-right: $border2white;
         transform: translate(10px, 12px) rotate(315deg);
      }
   }
}

@keyframes gradient {
   0% {
      background-position: 0% 0%;
      background-size: 0% 0%;
      background-color: $white;
   }

   50% {
      background-position: 50% 50%;
      background-size: 50% 0;
      background-color: $darkBlue;

   }

   100% {
      background-position: 100% 100%;
      background-size: 100% 100%;
   }
}