.header {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   max-width: $maxWidth;

   &__logo-block {
      display: flex;
      align-items: center;
      padding-top: 14px;

      @include media(600) {
         padding-left: 68px;
         background: url(../images/icon/logo.svg) 1% 73% no-repeat;
      }

      & image {
         object-fit: cover;
      }

      & span {
         padding-left: 30px;
         line-height: 1.7;
         display: none;

         @include media(600) {
            display: block;
         }
      }
   }

   &__phone-block {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      gap: 22px;

      @include media(600) {
         padding-top: 50px;
      }
   }

   &__phone-link {
      font-size: 18px;
      color: $black;

      @include media(1024) {
         font-size: 30px;
      }
   }
}