.test {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   // max-width: $maxWidth;
   padding-top: 60px;

   & .subtitle {
      margin-bottom: 42px;
   }

   &__slider-test {
      display: flex;
      // border: 3px solid $gray;
   }

   &__slider-inner {
      display: flex;
      flex-direction: column;
   }

   &__descriptions {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 360px;
      padding: 40px;

   }
}