.test {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   padding-top: 60px;

   & h2 {
      margin-bottom: 7px;
      margin-left: 8px;
   }

   & .subtitle {
      margin-bottom: 53px;
      margin-left: 6px;
   }

   &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      max-width: $maxWidth;
      width: 100%;
      margin-left: 0;
      border: $standartBorder;

      @include media(1120) {
         flex-wrap: nowrap;
         margin-left: 15px;
      }
   }

   &__list {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      padding: 28px 44px 10px 39px;
      border-left: none;

      @include media(1120) {
         max-width: 365px;
         gap: 31px;
         border-left: $standartBorder;
      }

   }
}

.list__item {
   position: relative;
   padding-left: 64px;

   &::before {
      content: '';
      position: absolute;
      height: 35px;
      width: 39px;
      top: 7px;
      left: 0;
      background: url(../images/icon/blue_arrow.svg);

   }
}