$maxWidth: 1140px; // максимальная ширина страницы
$minWidth: 320px; // минимальная ширина телефона

$mainFont: 'Geometria'; // !указать здесь основное семейство шрифта
$mainWeight: 400; // !указать здесь основное начертание шрифта

$mainRadius: rem(5);
$secondaryRadius: rem(15);

$white: #fff;
$black: #000;
$black80: rgba(0, 0, 0, 0.8);
$grayColor: #f6f6f6;
$blue: #2A94E2;
$darkBlue: #033a61;
$red: #ff4040;


$fontFamily: $mainFont, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $black; // Цвет шрифта по умолчанию
$fontSize: rem(16); // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию

$standartBorder: 3px solid $grayColor;

$standartTrans: all 280ms ease-in-out 0ms;
$longTrans: all 700ms ease-in-out 0ms;
$transormPopupStart: perspective(600px) translate(0px, -100%) rotateX(45deg);
$transormPopupAnd: perspective(600px) translate(0px, 30%) rotateX(0deg);

$btnBoxShadow: 0px 2px 3px rgba($darkBlue, 10%),
   0px 8px 3px rgba($darkBlue, 10%);