@use 'sass:math';

// Подключение шрифтов локально из папки "./src/fonts"
@import 'config/fonts';

// Подключение sass функций и миксинов и рассширений стилей 
@import 'config/functions';

// Подключение переменных 
@import 'config/vars';

// Обнуление 
@import 'config/reset';

// Шрифты 
@import 'config/typography';

// Подключение стилей отдельных блоков и секций 
@import 'layout/popup';
@import 'layout/links';
@import 'layout/input';
@import 'layout/header';
@import 'layout/buttons';
@import 'layout/header-section';
@import 'layout/test';
@import 'layout/slider';
@import 'layout/international';
@import 'layout/apartments';
@import 'layout/apartment-card';
@import 'layout/footer';

.main {
   max-width: $maxWidth;
   width: 100%;
   margin: 0 auto;
   // padding: 0 5px;
}

.disable-scroll {
   position: relative;
   overflow: hidden;
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
}